.container {
  max-width: 1168px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    padding: 0 2rem 2rem 2rem;
  }
}
.centered {
  text-align: center;
}
body {
  background: #0A235C;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.button {
  border-radius: 5px;
  color: #F5F5F5;
  background: #0A235C;
  padding: .5rem 1rem;
}
.button:hover {
  color: #FFCC00;
}
section {
  color: #F5F5F5;
  padding: 0 0 2rem;
}
section .heading {
  color: #FFCC00;
}
section article {
  padding: 1rem 2rem;
  background: #F5F5F5;
}
section article p {
  color: black;
}
.sub-heading {
  color: #585858;
}
.person-info {
  color: black;
  text-align: center;
}
.person-info .person-img {
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 1rem;
  max-width: 150px;
}
@media (max-width: 500px) {
  .person-info .person-img {
    display: none;
  }
}
.person-info .social {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.person-info .social li {
  cursor: hand;
  margin: 0 .3rem;
}
.person-info .heading {
  margin: 0 0 .4rem;
  color: black;
}
.person-info p {
  text-align: left;
}
#main-header {
  background: #F5F5F5;
}
#main-nav {
  display: flex;
  justify-content: space-between;
}
#main-nav ul,
#main-nav ol {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
}
#main-nav ul .right,
#main-nav ol .right {
  margin-left: auto;
}
#main-nav ul li,
#main-nav ol li {
  margin: 0 1rem;
}
#main-nav ul span,
#main-nav ol span {
  margin: 0 .4rem;
}
@media (max-width: 500px) {
  #main-nav ul span,
  #main-nav ol span {
    display: none;
  }
}
@media (max-width: 1000px) {
  #main-nav {
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
  }
}
#devs {
  color: black;
}
#devs > .heading {
  margin: 3rem 0;
}
#devs .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#devs .person-info {
  width: 31%;
  margin: 0 0 2rem;
  text-align: center;
}
#devs .person-info.full-width {
  width: 100%;
}
@media (max-width: 1000px) {
  #devs .person-info {
    width: 48%;
  }
}
@media (max-width: 500px) {
  #devs .person-info {
    width: 100%;
  }
}
#devs .person-info p {
  text-align: center;
}
