.container {
  max-width: 1168px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    padding: 0 2rem 2rem 2rem;
  }
}
.sub-heading {
  color: #585858;
}
.advisor-info {
  color: black;
  text-align: center;
}
.advisor-info .advisor-img {
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 1rem;
}
@media (max-width: 500px) {
  .advisor-info .advisor-img {
    display: none;
  }
}
.advisor-info .heading {
  margin: 0 0 .4rem;
  color: black;
}
.advisor-info p {
  text-align: left;
}
#main-header {
  background: #F5F5F5;
}
#main-nav {
  display: flex;
  justify-content: space-between;
}
#main-nav ul,
#main-nav ol {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
}
#main-nav ul .right,
#main-nav ol .right {
  margin-left: auto;
}
#main-nav ul li,
#main-nav ol li {
  margin: 0 1rem;
}
#main-nav ul span,
#main-nav ol span {
  margin: 0 .4rem;
}
@media (max-width: 500px) {
  #main-nav ul span,
  #main-nav ol span {
    display: none;
  }
}
@media (max-width: 1000px) {
  #main-nav {
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
  }
}
body {
  background: #0A235C;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.button {
  border-radius: 5px;
  color: #F5F5F5;
  background: #0A235C;
  padding: .5rem 1rem;
}
.button:hover {
  color: #FFCC00;
}
section {
  color: #F5F5F5;
  padding: 0 0 2rem;
}
section .heading {
  color: #FFCC00;
  text-align: center;
}
section article {
  padding: 1rem 2rem;
  background: #F5F5F5;
}
section article p {
  color: black;
}
#carousel {
  display: flex;
  align-items: center;
}
#carousel .slick-list {
  margin: 0 1rem;
}
#latest-article .heading {
  text-align: left;
}
#latest-article .wrapper {
  display: flex;
}
#latest-article .article-img {
  margin: 0 2rem 0 0;
}
#latest-article article {
  color: black;
  width: 100%;
}
