// main: index.less, main: about.less

body {
  background: @blue;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  border-radius: 5px;
  color: @gray;
  background: @blue;
  padding: .5rem 1rem;

  &:hover {
    color: @yellow;
  }
}

section {
  color: @gray;
  padding: 0 0 2rem;

  .heading {
    color: @yellow;
  }

  article {
    padding: 1rem 2rem;
    background: @gray;

    p {
      color: black;
    }
  }
}

.sub-heading {
  color: rgb(88, 88, 88);
}

.person-info {
  color: black;
  text-align: center;

  .person-img {
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 1rem;

    @media @mobile {
      display: none;
    }
  }

  .heading {
    margin: 0 0 .4rem;
    color: black;
  }

  p {
    text-align: left;
  }
}