// main: index.less, main: about.less

html, body {
  height: 100%;
}

body {
  background: @blue;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  border-radius: 5px;
  color: @gray;
  background: @blue;
  padding: .5rem 1rem;

  &:hover {
    color: @yellow;
  }
}

section {
  color: @gray;
  padding: 0 0 2rem;

  .heading {
    color: @yellow;
  }

  article {
    padding: 1rem 2rem;
    background: @gray;

    p {
      color: black;
    }
  }
}

.sub-heading {
  color: rgb(88, 88, 88);
}

.person-info {
  color: black;
  text-align: center;

  .person-img {
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 1rem;
    max-width: 150px;

    @media @mobile {
      display: none;
    }
  }

  .social {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;

    li {
      cursor: hand;
      margin: 0 .3rem;
    }
  }

  .heading {
    margin: 0 0 .4rem;
    color: black;
  }

  p {
    text-align: left;
  }
}