@import "variables";
@import "mixins";
@import "globals";
@import "navigation";

#carousel {
  display: flex;
  align-items: center;

  .slick-list {
    margin: 0 1rem;
  }

  .slick-arrow {
    cursor: pointer;
    color: @gray;
  }
}

#latest-article {
  .heading {
    text-align: left;
  }

  .wrapper {
    display: flex;
  }

  .article-img {
    margin: 0 2rem 0 0;
  }

  article {
    color: black;
    width: 100%;
  }
}