#main-header {
  background: @gray;
}

#main-nav {
  display: flex;
  justify-content: space-between;

  ul,
  ol {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;

    .right {
      margin-left: auto;
    }

    li {
      margin: 0 1rem;
    }

    span {
      margin: 0 .4rem;

      @media @mobile {
        display: none;
      }
    }
  }

  @media @tablet {
    padding-bottom: 0;
  }

  @media @mobile {
    flex-direction: column;
  }
}