#main-header {
  background: @gray;
}

#main-nav {
  display: flex;
  justify-content: space-between;

  ul,
  ol {
    display: flex;
    list-style: none;

    li {
      margin: 0 1rem;
    }

    span {
      margin: 0 .4rem;
    }
  }

  @media @mobile {
    flex-direction: column;
  }
}